name: Go API Backend Unit Tests

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  Test:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: true

      - name: Environment file
        run: make init

      - name: Download dependencies
        run: go mod download

      - name: Run Tests
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          timeout_minutes: 15
          command: go test -v -race -coverprofile=coverage.out ./...

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: coverage-report
          path: coverage.out
          retention-days: 7
